@import '../current/waybar-colors.css';

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

/* --- 1. THE SQUARE WORKSPACES (Left Side) --- */
#workspaces {
    margin-left: 0px;
}

#workspaces button {
    all: initial;
    min-width: 27px; 
    padding: 0;
    margin: 0 1.5px;
    color: @dim-text;
    background-color: transparent;
    transition: all 0.4s ease;
}

#workspaces button.focused,
#workspaces button.active {
    color: @foreground;
}

#workspaces button:hover {
    background-color: #1a1a1a;
    color: @foreground;
}

#clock {
    color: @foreground;
    margin-left: 8.75px;
}

/* --- 3. STATUS MODULES (Right Side & Drawer) --- */
#pulseaudio, 
#cpu, 
#memory, 
#temperature, 
#backlight, 
#disk, 
#battery, 
#network,
#custom-updates,
#custom-uptime
{
    margin: 0 7.5px;
    min-width: 18px;
    padding: 0;
    background-color: transparent;
    color: @foreground;
}

.resources-drawer {
    margin: 0;
    padding: 0;
}

#battery.critical:not(.charging) {
    color: @accent;
}

#pulseaudio.muted {
    color: @dim-text;
}

#temperature.critical {
    color: @accent;
}

tooltip {
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid #333;
    padding: 4px;
}

#tray {
    margin: 0 12px 0 7.5px;
}

#tray.hidden{
    margin: 0;
}

#custom-expand-icon {
    margin-right: 10px;
    margin-left: 7px;
}